* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: #fff;
    letter-spacing: 1.3px;
    text-transform: uppercase
}

/*
*
*
* /// WERSJA WIĘCEJ NIŻ 1170PX
*
*/

.main {
    background-image: url('../img/man-1.jpg');
    background-size: cover;
    background-position: 0;
    height: 100vh;
    display: flex;
    padding-left: 35px;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.2em;
    padding-bottom: 1.3em;
}

h2 {
    font-size: 2.1em;
}

/*
*
*
* /// WERSJA WIĘCEJ NIŻ 1170PX - koniec
*
*/

/*
*
*
* /// WERSJA MNIEJ NIŻ 1170PX I WIĘCEJ NIŻ 992PX
*
*/

@media (min-width: 992px) and (max-width: 1170px) {
    .main {
        background-image: url('../img/man-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        padding: 0;
        height: 70vh;
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: flex-start;
    }

    .texts {
        padding-top: 10em;
        padding-right: 3.1em;
    }

    h1, h2 {
        align-self: flex-end;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.7em;
    }
}

/*
*
*
* /// WERSJA MNIEJ NIŻ 1170PX I WIĘCEJ NIŻ 992PX - *    KONIEC
*
*/

/*
*
*
* /// WERSJA MNIEJ 992PX
*
*/




@media (max-width: 991px) {
    .main {
        background-image: url('../img/man-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        padding: 0;
        height: 50vh;
        width: auto;
        position: relative;
    }

    .texts {
        position: absolute;
        color: #000;
        text-align: center;
        top: 50vh;
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    h1, h2 {
        /* align-self: flex-end; */
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.7em;
    }
}


/*
*
*
* /// WERSJA MNIEJ 992PX - KONIEC
*
*/